@page
@model AdminPanel.EndPoint.Pages.Users.IndexModel
@{
}
<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>صفحه اصلی</a></li>
                <li>مدیریت کاربران</li>
                <li>دریافت لیست کاربران</li>
            </ul>
        </div>
        <div class="row">
            <!-- Your Profile Views Chart -->
            <div class="col-lg-12 m-b30">
                <div class="widget-box">
                    <div class="wc-title d-flex">
                        <h4>لیست کاربران</h4>
                    </div>
                    <div class="widget-inner">

                        <div class="row">
                            <div class="search-box-container card">
                                <div class="card-header">
                                    <h5>فیلتر های لیست</h5>
                                </div>
                                <form class="card-body col-12" method="post">
                                    <div class="d-flex">
                                        <div class="form-group col-4">
                                            <label class="col-form-label cname">کاربران:</label>
                                            <select class="form-control" name="typeList" id="select-users">
                                                <option value="1">اشخاص</option>
                                                <option value="2">دانشجویان</option>
                                                <option value="3">مدرسان</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-4">
                                            <label class="col-form-label cname">جستجو</label>
                                            <input class="form-control" id="searchKey" name="SearchKey" placeholder="جستجو بر اساس پست الکترونیک">
                                        </div>
                                        <div class="form-group col-4">
                                            <p id="warn"><i class="ti-alert"></i> در صورت تمایل نداشتن به جستجو مقدار فیلد آن را خالی بگذارید و دریافت لیست را کلیک کنید</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success add-course" id="search-users-list" type="submit"><i class="ti-search"></i> دریافت لیست</button>
                                    </div>
                                </form>
                            </div>
                            @if (!string.IsNullOrWhiteSpace(Model.result.Message))
                            {
                                if (Model.result.isSuccess)
                                {
                                    <h6 id="text" style="color: rgba(45, 255, 0, 1); margin : 10px;"><i class="fa fa-check-square"></i> @Model.result.Message</h6>
                                }
                                else
                                {

                                    <h6 id="text" style="color: rgba(245, 0, 0, 0.64); margin : 10px;"><i class="ti-alert"></i> @Model.result.Message</h6>

                                }
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.result.Message))
                            {
                                @if(Model.personsList != null)
                                {
                                   <div class="search-box-container card lists" id="list-1">
                                    <div class="card-body">
                                        <div class="container mt-5">
                                            <h5>لیست اشخاص</h5>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>شماره</th>
                                                        <th>تصویر</th>
                                                        <th>نام</th>
                                                        <th>نام خانوادگی</th>
                                                        <th>شماره تلفن</th>
                                                        <th>ایمیل</th>
                                                        <th>کلمه عبور</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var person in Model.personsList)
                                                    {
                                                        <tr>
                                                            <td>@person.Id</td>
                                                            <td><img class="pictures-list" src="@person.AvatarPath"></td>
                                                            <td>@person.FirstName</td>
                                                            <td>@person.LastName</td>
                                                            <td>@person.PhoneNumber</td>
                                                            <td>@person.Email</td>
                                                            <td>@person.Password</td>
                                                        </tr>
                                                    }


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div> 
                                }
                                @if(Model.studentsList != null)
                                {
                                    <div class="search-box-container card lists" id="list-2">
                                    <div class="card-body">
                                        <div class="container mt-5">
                                            <h5>لیست دانشجویان</h5>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>شماره دانشجویی</th>
                                                        <th>نام</th>
                                                        <th>نام خانوادگی</th>
                                                        <th>پروفایل لینکدین</th>
                                                        <th>مقطع تحصیلی</th>
                                                        <th>حوزه فعالیت</th>
                                                        <th>محدودیت</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var student in Model.studentsList)
                                                    {
                                                        <tr>
                                                            <td>@student.Id</td>
                                                            <td>@student.FirstName</td>
                                                            <td>@student.LastName</td>
                                                            <td>@student.LinkedId</td>
                                                            <td>@student.Major</td>
                                                            <td>@student.ActivityArea</td>
                                                            @if (student.Lockout)
                                                            {
                                                                <td>دارد</td>
                                                            }
                                                            else
                                                            {
                                                                <td>ندارد</td>
                                                            }
                                                            
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                }
                                @if(Model.teachersList != null)
                                {
                                   <div class="search-box-container card lists" id="list-3">
                                    <div class="card-body">
                                        <div class="container mt-5">
                                            <h5>لیست مدرسان</h5>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>شماره</th>
                                                        <th>تصویر</th>
                                                        <th>نام</th>
                                                        <th>نام خانوادگی</th>
                                                        <th>شماره تماس</th>
                                                        <th>مشاهده</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var teacher in Model.teachersList)
                                                    {
                                                        <tr>
                                                            <td>@teacher.Id</td>
                                                            <td><img class="pictures-list" src="@teacher.AvatarPath"></td>
                                                            <td>@teacher.Firstname</td>
                                                            <td>@teacher.Lastname</td>
                                                            <td>@teacher.PhoneNumber</td>
                                                            <td><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong-@teacher.Id"><i class="ti ti-user"></i> مشاهده رزومه</a></td>
                                                                <div class="modal fade" id="exampleModalLong-@teacher.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                                    <div class="modal-dialog" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="exampleModalLongTitle">رزومه @teacher.Firstname @teacher.Lastname</h5>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                @Html.Raw(teacher.Resume)
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div> 
                                }
                                
                            }

                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            
            <!-- Your Profile Views Chart END-->
        </div>
    </div>
</main>
<div class="ttr-overlay"></div>
