@page
@model AdminPanel.EndPoint.Pages.Users.Teacher.editModel
@{
}

<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>صفحه اصلی</a></li>
                <li>مدیریت کاربران</li>
                <li>مدرس</li>
            </ul>
        </div>
        <div class="row">
            <!-- Your Profile Views Chart -->
            <div class="col-lg-12 m-b30">
                <div class="widget-box">
                    <div class="wc-title">
                        <h4 id="edit-entity">ویرایش مدرس</h4>
                    </div>
                    <div class="widget-inner">

                        <div class="row">
                            <div class="search-box-container card">
                                <div class="card-header">
                                    <h5>مشخصات مدرس مورد نظر</h5>
                                </div>
                                <div class="card-body">
                                    <form asp-page-handler="FindTeacher" class="col-12 d-flex">
                                        <label class="col-form-label cname">شماره مدرس: </label>
                                        <input class="form-control col-4" asp-for="Teacher.Id" type="number" placeholder="102">
                                        <div>
                                            <button class="btn btn-success" type="submit"><i class="ti-search"></i> بازیابی مدرس</button>
                                        </div>
                                        @if (!string.IsNullOrWhiteSpace(Model.FullName))
                                        {
                                            <label class="col-form-label cname">نام مدرس: </label>
                                            <input class="form-control col-3" type="text" value="@Model.FullName" disabled>
                                        }
                                    </form>
                                    @if (!string.IsNullOrWhiteSpace(Model.result.Message))
                                    {
                                        if (Model.result.isSuccess)
                                        {
                                            <h6 id="text" style="color: rgba(45, 255, 0, 1); margin : 10px;"><i class="fa fa-check-square"></i> @Model.result.Message</h6>
                                        }
                                        else
                                        {
                                            <h6 id="text" style="color: rgba(245, 0, 0, 0.64); margin : 10px;"><i class="ti-alert"></i> @Model.result.Message</h6>
                                        }
                                    }
                                    
                                </div>
                            </div>
                            @if (!string.IsNullOrWhiteSpace(Model.FullName))
                            {
                                <div class="search-box-container card">
                                    <div class="card-body">
                                        <form class="edit-profile m-b30" asp-page-handler="EditTeacher">
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    <h3>1. ویرایش اطلاعات مدرس</h3>
                                                    <input type="hidden" asp-for="Teacher.Id" value="@Model.Teacher.Id"/>
                                                    <input type="hidden" asp-for="Teacher.PersonID" value="@Model.Teacher.PersonID" />
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="form-group col-12">
                                                    <label class="col-form-label">ویرایش درباره مدرس</label>
                                                    <div>
                                                        <textarea id="Description" class="form-control" rows="5" asp-for="Teacher.Resume">
                                                        @Html.Raw(Model.Teacher.Resume)
                                                        </textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group col-12">
                                                    <button id="addnew" class="btn btn-success add-course" type="submit">ویرایش مدرس</button>
                                                </div>

                                        </form>
                                    </div>
                                </div>
                            }
                            

                        </div>
                    </div>
                </div>
            </div>
            <!-- Your Profile Views Chart END-->
        </div>
    </div>
</main>
<div class="ttr-overlay"></div>
@section Scripts {

}