@using Learning_System.EndPoint.Models.Users
@model StudentViewModel
@{
}
<div class="page-content bg-white">
	<!-- inner page banner -->
	<div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/banner1.jpg);">
		<div class="container">
			<div class="page-banner-entry">
				<h1 class="text-white">پروفایل</h1>
			</div>
		</div>
	</div>
	<!-- Breadcrumb row -->
	<div class="breadcrumb-row">
		<div class="container">
			<ul class="list-inline">
				<li><a href="#">صفحه اصلی</a></li>
				<li>پروفایل</li>
			</ul>
		</div>
	</div>
	<!-- Breadcrumb row END -->
	<!-- inner page banner END -->
	<div class="content-block">
		<!-- About Us -->
		<div class="section-area section-sp1">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
						<div class="profile-bx text-center">
							<div class="user-profile-thumb">
								<img src="@Model.Avatar" alt="" />
							</div>
							<div class="profile-info">
								<h4>@Model.FullName</h4>
								<span>@Model.Email</span><br />
								<span>موجودی کیف پول: @Model.Credit.ToString("n0")</span>
							</div>
							<div class="profile-social">
								<ul class="list-inline m-a0">
									<li><a href="@Model.LinkedId"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
							<div class="profile-tabnav">
								<ul class="nav nav-tabs">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#courses"><i class="ti-book"></i>دوره‌ها</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#change-password"><i class="ti-lock"></i>تغییر رمز عبور</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-9 col-md-8 col-sm-12 m-b30">
						<div class="profile-content-bx">
							<div class="tab-content">
								<div class="tab-pane active" id="courses">
									<div class="profile-head">
										<h3>دوره‌های من</h3>
									</div>
									<div class="courses-filter">
										<div class="clearfix">
											<ul id="masonry" class="ttr-gallery-listing magnific-image row">
												@if (Model.PLP.Count > 0 && Model.PLP != null)
												{
													foreach(var c in Model.PLP)
													{
														<li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6">
													<div class="cours-bx">
														<div class="action-box">
															<img src="@c.ThumbnailPath" alt="">
															<a href="/product/detail?CourseId=@c.Id" class="btn">بیشتر بخوانید</a>
														</div>
														<div class="info-bx text-center">
																	<h5><a href="/product/detail?CourseId=@c.Id">@c.Title</a></h5>
															<span>@c.Type</span>
														</div>
														<div class="cours-more-info">
															<div class="review">
																<span>@(c.Time/60) ساعت</span>
																<ul class="cours-star">
																	<li class="active"><i class="fa fa-star"></i></li>
																	<li class="active"><i class="fa fa-star"></i></li>
																	<li class="active"><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																</ul>
															</div>
															<div class="price">
																<del> @((c.Price+250000).ToString("n0")) تومان </del>
																<h5> @c.Price.ToString("n0") تومان </h5>
															</div>
														</div>
													</div>
												</li>
													}
												}
												

											</ul>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="change-password">
									<div class="profile-head">
										<h3>تغییر رمز عبور</h3>
									</div>
									<form class="edit-profile">
										<div class="">
											<div class="form-group row">
												<div class="col-12 col-sm-8 col-md-8 col-lg-9 ml-auto">
													<h3>رمز عبور</h3>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label">رمز عبور فعلی</label>
												<div class="col-12 col-sm-8 col-md-8 col-lg-7">
													<input class="form-control" id="currentPass" type="password" value="">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label">رمز عبور جدید</label>
												<div class="col-12 col-sm-8 col-md-8 col-lg-7">
													<input class="form-control" id="newPass" type="password" value="">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label">تکرار رمز عبور جدید </label>
												<div class="col-12 col-sm-8 col-md-8 col-lg-7">
													<input class="form-control" id="newPassTwo" type="password" value="">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-12 col-sm-4 col-md-4 col-lg-3">
											</div>
											<div class="col-12 col-sm-8 col-md-8 col-lg-7">
												<button type="button" id="changePassword" class="btn">ذخیره تغییرات</button>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- contact area END -->
</div>
@section Scripts{
	<script>
		$('#changePassword').on('click', async function () {
			var currentPass = $('#currentPass').val();
			var newPass = $('#newPass').val();
			var newPassTwo = $('#newPassTwo').val();

			if (newPass == newPassTwo) {
				try {
					var result = await changePassword(currentPass, newPass);

					if (!result.isSuccess) {
						swal.fire({
							title: "عملیات ناموفق",
							text: result.message,
							icon: "error"
						});
					} else {
						swal.fire({
							title: "عملیات موفق",
							text: result.message,
							icon: "success"
						});
					}
				} catch (error) {
					console.error("Error:", error);
					swal.fire({
						title: "عملیات ناموفق",
						text: "خطا در تغییر رمز عبور",
						icon: "error"
					});
				}
			} else {
				swal.fire({
					title: "عملیات ناموفق",
					text: "کلمه عبور با تکرار آن برابر نیست",
					icon: "error"
				});
			}
		});

		async function changePassword(currentPassword, newPassword) {
			const url = "/profile/ChangePassword";
			const data = {
				CurrentPassword: currentPassword,
				Password: newPassword
			};

			const response = await fetch(url, {
				method: "POST",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify(data)
			});

			const result = await response.json();
			return result;
		}


	</script>
}